html {
	--base03:  #002b36;
	--base02:  #073642;
	--base01:  #586e75;
	--base00:  #657b83;
	--base0:   #839496;
	--base1:   #93a1a1;
	--base2:   #eee8d5;
	--base3:   #fdf6e3;
	--yellow:  #b58900;
	--orange:  #cb4b16;
	--red:     #dc322f;
	--magenta: #d33682;
	--violet:  #6c71c4;
	--blue:    #268bd2;
	--cyan:    #2aa198;
	--green:   #859900;
	background: var(--base03);

	height: 100%;
	overflow: hidden;

	font-size: 19px;
}
@media (pointer: coarse) {
	html {
		font-size: 22px;
	}
}

body {
	height: 100%;
	margin: 0;
}
canvas {
	width:  100%;
	height: 100%;
}

#fullscreen-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	background: no-repeat center / 70% url('data:image/svg+xml,\
		<svg viewBox="0 0 8.5 8.5" xmlns="http://www.w3.org/2000/svg">\
			<path stroke="white" stroke-width="1.3" fill="none" d="M.7 3.5V.7h2.6M7.8 3.5V.7H5.2M.7 5v2.8h2.6M7.8 5v2.8H5.2"/>\
		</svg>\
	');
}
@media (display-mode: fullscreen) {
	#fullscreen-button {
		background-image: url('data:image/svg+xml,\
			<svg viewBox="0 0 8.5 8.5" xmlns="http://www.w3.org/2000/svg">\
				<path stroke="white" stroke-width="1.3" fill="none" d="m2.868 0.3038v2.8h-2.6m5.364-2.8v2.8h2.6m-5.364 5.164v-2.8h-2.6m5.364 2.8v-2.8h2.6"/>\
			</svg>\
		');
	}
}

.menu {
	position: absolute;
	right: 0;
	max-width: 100vw;
	box-sizing: border-box;
	background: white;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	height: 4rem;
	display: flex;
	flex-direction: row;
	gap: .5rem;
}
.menu:not(.open) .items {
	display: none;
}
.menu label {
	width: 4rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
}
.menu .items {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	overflow-x: auto;
	padding: .5rem;
	padding-right: 1.5rem;
}
.menu [data-color] {
	height: 100%;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: .5rem;
	cursor: pointer;
}
.menu [data-color]:hover {
	transform: scale(1.1);
}
.menu [data-color].selected {
	transform: scale(1.2);
	box-shadow: .1rem .1rem .8rem rgba(0,0,0,.7);
}

.menu.edge-guard  { bottom: 12rem; }
.menu.wheel-front { bottom: 7rem; }
.menu.wheel-back  { bottom: 2rem; }
